{% extends "front/base.html.twig" %}

{% block content %}
<h1>Mon panier </h1>
    <a class="listLink" href="{{ path('app_pizza_retrieve') }}"> Retour à la liste </a> <br>
{# test panier vide #}

{% if app.user.basket.isEmpty() %}
<h2> panier vide </h2>
{% else %}

    {% for item in app.user.basket.basketItems %}
 <div class="pizza-thumb">
    <div class="img">
      <div class="black-frame"></div>
      <img src="{{ item.pizza.image }}" alt="{{ item.pizza.name }}" />
    </div>
    <h2 class="text-display">{{ item.pizza.name }}</h2>
    <p class="description">{{ item.pizza.description }}</p>
    <div class="quantity">
      <a href="{{ path('app_front_basket_decrease', {id: item.id}) }}" class="btn delete">
        <i class="fa-solid fa-circle-minus"></i>
      </a>
      <p class="price">{{ item.quantity }}</p>
      <a href="{{ path('app_front_basket_increase', {id: item.id}) }}" class="btn">
        <i class="fa-solid fa-circle-plus"></i>
      </a>
    </div>
    <div class="actions">
      <p class="price text-display">{{ item.total }}&nbsp;€</p>
      <a href="{{ path('app_front_basket_delete', {id: item.id}) }}" class="btn delete">
        <i class="fa-solid fa-trash"></i>
        Supprimer du panier
      </a>
    </div>
  </div>
  {% endfor %}
  <h2>Total : {{ app.user.basket.total }} €</h2>
<div class="btn-group">
  <a href="{{path('app_front_confirm_adress')}}" class="btn">
    <i class="fa-solid fa-credit-card"></i>
    Commander
  </a>
</div>
  {% endif %}

{% endblock %}